/* CSS custom properties / CSS variables */

:root {
  --teal: #008080;
  --royalblue: #4169e1;
  --violet: #9400d3;
  --green: #008000;
  --magenta: #8b008b;
}

/* Use attribute selectors for the first part of the exercise */

/* li[class] {
  color: var(--red);
} */

li[class='cat'] {
  color: var(--teal);
}

li[class^='par'] {
  color: var(--green);
}

li[class*='do'] {
  color: var(--royalblue);
}

li[class$='og'] {
  color: var(--violet);
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: var(--green);
}

.first ~ li {
  color: var(--violet);
}

.second + li {
  color: var(--royalblue)
}